footer {
    background-color: #7fad96;
}

body {
    background-color: #7fad96;
}

hr {
    border-top-color: burlywood;
    border-style: dotted none none;
    height: 0px;
    width: 10%;
    border-width: 7px;
}

h1 {
    color: #66bfbf;
}